appnope==0.1.0
cffi==1.5.0
characteristic==14.3.0
cryptography==1.2.2
cssselect==0.9.1
decorator==4.0.9
gnureadline==6.3.3
html2text==2016.1.8
idna==2.0
ipython==4.1.1
ipython-genutils==0.1.0
lxml==3.5.0
parsel==1.0.1
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
psycopg2==2.6.1
ptyprocess==0.5.1
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.14
PyDispatcher==2.0.5
pyOpenSSL==0.15.1
queuelib==1.4.2
Scrapy==1.1.0rc1
service-identity==14.0.0
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.0.11
traitlets==4.1.0
Twisted==15.5.0
w3lib==1.13.0
wheel==0.26.0
zope.interface==4.1.3
